html{font-size: 16px;}
body {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-end;

    margin: unset;

    width: 100vw;
    height: auto;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{display: flex;flex-direction: row;height: 15vh;
}

a{
    margin: 20px;
    font-size: 1.5rem;
    color: #000000;
    text-decoration: none;
}


.container-contador{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #023361;
    align-self: center;
    width: 40vw;
    height: 55vh;
    border-radius: 10px;
}

h1{color: #ffff;font-size: 2.2rem; margin-top: unset;}

.container-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    margin-bottom: 20px;
}

p{
    align-self: flex-start;
    font-size: 0.9rem;
    margin-bottom: unset;
    color: #ffff;
}

input{
    width: 23.5vw;
    height: 3vh;
    border-radius: 5px; 
    font-size: 1rem; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

.container-button{
    position: relative;
    margin-top: 20px;
    width: 25vw;
}

button{
    border: none;
    border-radius: 5px;
    height: 6vh;
    width: 10vw;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffff;
    font-size: 1rem;
}

.btn-limpiar{background: #FF0000; position: absolute;  left: 0;}
.btn-calcular{background:  #0085FF; position: absolute;  right: 0;}

.container-respuesta{align-self: center;width: 40vw; margin-bottom: 20px;}
h2{font-size: 2rem;}

.div-label{
    width: 5vw;
    font-size: 1.5rem;
}